/CodeInSlides/chapter3/ProcessBasicAPI-fork
/CodeInSlides/chapter3/ThreadBasicAPI-calcShareData
/CodeInSlides/chapter4/ATMProblemShow
/CodeInSlides/chapter4/ATMProblemShow-mutex
/CodeInSlides/chapter4/BoundedBuffer-monitor
/CodeInSlides/chapter4/BoundedBuffer-mutex
/CodeInSlides/chapter4/BoundedBuffer-semaphore
/CodeInSlides/chapter3/ProcessBasicAPI-races
/CodeInSlides/chapter3/ProcessBasicAPI-shell
/CodeInSlides/chapter3/ThreadBasicAPI-create
/CodeInSlides/chapter4/BoundedBuffer-monitor-mesatest
/CodeInSlides/chapter4/Deadlock
/CodeInSlides/chapter4/testInput/*.txt
/CodeInSlides/chapter4/PreAssignJob
/CodeInSlides/chapter4/DynamicAssignJob
/CodeInSlides/chapter4/HomoThreads
/CodeInSlides/chapter4/*.log
/CodeInSlides/chapter4/HeteroThreads
*.html
*.log
/CodeInSlides/chapter4/ConcurrentWget-ThreadPool
/CodeInSlides/chapter4/ConcurrentWget-OnDemand
/CodeInSlides/chapter4/ConcurrentQuickSort-Recursive
/CodeInSlides/chapter4/*.txt
/CodeInSlides/chapter4/ConcurrentQuickSort-Iteration
/CodeInSlides/chapter5/Measure-ALU
/CodeInSlides/chapter5/Measure-ALU-broken
/CodeInSlides/chapter5/Measure-mutex
/CodeInSlides/chapter5/Measure-mutex-CTXswitch
/CodeInSlides/chapter5/Measure-mutex-syscall
/CodeInSlides/chapter5/Measure-ALU-broken-simplified
/CodeInSlides/chapter4/*.data
/CodeInSlides/chapter5/PrintToMonitor
/CodeInSlides/miscellaneous/multipipe-popen/multipipe-popen
/CodeInSlides/miscellaneous/multipipe-popen/testProgram
/CodeInSlides/chapter4/*.old
/CodeInSlides/chapter4/ConcurrentQuickSort-Recursive-broken
/CodeInSlides/chapter7/UDP-client
/CodeInSlides/chapter7/UDP-server
/CodeInSlides/chapter7/TCP-client
/CodeInSlides/chapter7/TCP-server
/CodeInSlides/chapter7/TCP-client-reliable
/CodeInSlides/chapter7/TCP-server-reliable
/CodeInSlides/chapter7/TCP-client-thread-write
/CodeInSlides/chapter7/TCP-server-thread-write
/CodeInSlides/chapter7/TCP-client-thread-recv
/CodeInSlides/chapter7/TCP-server-thread-recv
/CodeInSlides/chapter7/TCP-client-thread-send
/CodeInSlides/chapter7/TCP-server-thread-send
